# Build results
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider files
.idea/
*.sln.iml

# Temporary files
*.tmp
*.temp
*.log

# NuGet packages
*.nupkg
**/packages/*
